<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="popup.css">
</head>
<body>
    <h3>Sudoku Enhanced</h3>
    <div class="popup-setting-row">
        <label for="darkToggle">Dark Mode</label>
        <label class="popup-toggle-switch">
            <input type="checkbox" id="darkToggle">
            <span class="popup-toggle-slider"></span>
        </label>
    </div>
    <div class="popup-setting-row">
        <label for="cleanToggle">Clean UI</label>
        <label class="popup-toggle-switch">
            <input type="checkbox" id="cleanToggle">
            <span class="popup-toggle-slider"></span>
        </label>
    </div>
    <a class="popup-options-button" id="openOptions">Customize Shortcuts</a>
    <script src="popup.js"></script>
</body>
</html>
